<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Leage of Legends Tester</h1>
    <p class="lead">Use this site to test LOL API</p>
    <img width="200px" src="assets/images/lol.png" alt="Leage of Legends"/>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Summoner Info</h1>
      <div class="col-sm-12">
        <form class="form" name="form" ng-submit="getSummoner(form)" novalidate>

          <div class="form-group">
            <label>Summoner Name</label>

            <input type="text" name="summonerName" ng-model="summonerName" class="form-control" required>
            <div class="form-group has-error">
              <p class="help-block" ng-show="submitted">{{ errors.other }}</p>
            </div>
          </div>
          <div>
            <button class="btn btn-inverse btn-lg btn-login" type="submit">
              Get Details
            </button>
          </div>
          <br>
          <label>Matches</label>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Game Id</th>
                  <th>Championship Id</th>
                  <th>Winner</th>
                  <th>Valid Game</th>
                </tr>
              </thead>
              <tr ng-repeat="game in summonerGames">
                <td>{{ game.gameId }}</td>
                <td>{{ game.championId }}</td>
                <td>{{ game.win }}</td>
                <td>{{ !game.invalid }}</td>
              </tr>
            </table>
          </div>
          <label>Summary</label>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Last Modified</th>
                  <th>Wins</th>
                  <th>Losses</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="summary in summonerSummary">
                  <td>{{ summary.playerStatSummaryType }}</td>
                  <td>{{ summary.modifyDate | date:'medium'}}</td>
                  <td>{{ summary.wins }}</td>
                  <td>{{ summary.losses || 0}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>


<footer class="footer">
  <div class="container">
      <p>Leage of Legend Tester by Eugene Kovshilovsky</p>
  </div>
</footer>
